@import "tailwindcss";

@theme {
  --font-syne: 'Syne', sans-serif;
  --font-outfit: 'Outfit', sans-serif;
}

@layer utilities {
  .text-aura-glow {
    text-shadow: 0 0 30px rgba(173, 219, 247, 0.938), 0 0 60px rgba(177, 138, 138, 0.815);
  }

  .glass-pill {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}

@keyframes button-float {

  0%,
  100% {
    transform: translateY(0);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
  }

  50% {
    transform: translateY(-6px);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
  }
}

.animate-btn {
  animation: button-float 4s ease-in-out infinite;
}